html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  background: white;
  border-bottom: 1px solid grey;
  min-height: 5vh;
  grid-column: 1 / -1;
}

.aside {
  border-right: 1px solid grey;
}
.main {
  background: white;
}
